In [11]:
import tweepy
import webbrowser
import pandas as pd

In [12]:
consumer_key = "Is7FGaeIOYJLOgS3MIRrpFTAr"
consumer_secret = "TwCade42qvSCM0T4DSe6y3YPzbdSOwiikrM4M5VyQvYLwGKpQU"

In [13]:
callback_uri = 'oob' 
auth = tweepy.OAuthHandler(consumer_key,consumer_secret, callback_uri)
redirect_uri =auth.get_authorization_url()

In [14]:
webbrowser.open(redirect_uri)
user_pint_input=input("Whats the pin value?")

Whats the pin value?6212732

In [15]:
auth.get_access_token(user_pint_input)

('1311940711986552832-WRVkGeTqPpK4WWkOwJlphWdeCkQ1hw',
 'pik6ZjfJJN6tiMLXQOVs45eRWHKe9rdIPeuOGQMd90m6G')

In [16]:
api= tweepy.API(auth)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [17]:
def extract_tweets_as_df(timeline_lists):
    column = set()
    allowed_types = [str,int]
    tweets_data=[]
    for status in timeline_lists:
        status_dict = dict(vars(status))
        keys = status_dict.keys()
        single_tweet_data = {"user":status.user.screen_name, "location":status.user.location}
        for k in keys:
            try:
                v_type= type(status_dict[k])
            except:
                v_type = None
            if v_type in allowed_types:
                single_tweet_data[k] = status_dict[k]
                column.add(k)
        tweets_data.append(single_tweet_data)
    
    header_cols=list(column)
    header_cols.append("user")
    header_cols.append("location")
    df = pd.DataFrame(tweets_data,columns=header_cols)
    return df

In [26]:
search_words = "anorexia"
date_since = "2021-04-01"

In [27]:
tweets = tweepy.Cursor(api.search,
                       q=search_words,
                       lang= "en", 
                       since=date_since).items(5000)
df2 = extract_tweets_as_df(tweets)
Datasets = df2.drop(columns=['id_str','in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_status_id', 'in_reply_to_user_id_str','source_url','source','retweet_count','quoted_status_id','quoted_status_id_str','in_reply_to_screen_name','favorite_count'])
Datasets.head()

,lang,text,id,user,location
0,en,Does anyone want to be in a group chat with pe...,1389809937623044098,Elle10920182,"California, USA"
1,en,RT @anticarbs: no but recovered ppl who post s...,1389807872322805768,owokcals,she/her
2,en,RT @anticarbs: no but recovered ppl who post s...,1389807522769473538,Ninediet,they/she/he • INFJ-T • 17 yo
3,en,Tess Holiday is a plus sized model who struggl...,1389807413935501315,deplorable_rich,
4,en,@Prettyinthin yesss down with the dsm!!! tbh w...,1389807320339726338,dietjewish,ed twt with a side of 1d sry

In [28]:
Datasets.to_csv('./FYP-Test2.csv', index=False)